# Maven
**/target/

# IntelliJ IDEA
.idea/
*.iml

# macOS
.DS_Store

# Environment files
.env
.env.*

# Spring local configuration
**/application-local.properties


# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc